<div class="parent-background">
      <mat-card class="summary-board">
         <mat-card-content>
            
         </mat-card-content>
     </mat-card>

   <div class="scorecard-main-tab">
      <mat-tab-group>
         <mat-tab label="summary">
             <app-summary></app-summary>
         </mat-tab>
         <mat-tab label="scorecard">
            <app-scorecard></app-scorecard>
         </mat-tab>
         <mat-tab label="submit">
            <app-fillteam></app-fillteam>
         </mat-tab>
         <mat-tab label="team">
             <app-adddata></app-adddata>
         </mat-tab>
       </mat-tab-group>
   </div>
</div>


